body {
    display: grid;
    align-items: center;
    background-color: lightgrey;
}

header {
    display: inline-flex;
    background-color: #0077FF;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5px;
    color: white;
    width: 100%;
    align-items: center;
    justify-content: center
}

nav {
    display: inline-flex;
    width: 900px;
    justify-content: flex-start;
    align-items: center;
}

nav input[type=text] {
    border-radius: 6px;
    border: 0px solid;
    min-width: 150px;
    background-image: url("https://www.svgrepo.com/show/7109/search.svg");
    background-repeat: no-repeat;
    background-size: 19px 19px;
    background-position: right center;
    font-size: 19px;
    background-color: gray;
    color:white;
}

.three-columns {
    display: inline-flex;
    justify-content: space-between;
    margin: auto;
    width: 900px;
}

.me {
    display: flex;
    margin: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    /* align-content: space-evenly; */
    flex-direction: column;
}

.me a {
    color: darkblue;
    text-decoration: none;
}

.me a:hover {
    color: greenyellow;
}

.me img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 3px;
}

.me td {
    align-items: flex-end;
}

.me h5 {
    margin: 0 10px 0 10px;
}

.me i {
    font-size: 25px;
    margin: 3px;
}

.middle {
    max-width: 200px;
}

.profile {
    display: grid;
    background-color: white;
    border-radius: 5px;
    justify-items: center
}

.profile img {
    width: 96%;
    border-radius: 5px;
    margin: 5px;
}

.profile button {
    width: 95%;
    margin: 5px;
}

.profile button:hover {
    background-color: #1877F2;
    color: aliceblue;
}

.profile-friends {
    display: grid;
    background-color: white;
    border-radius: 5px;
    padding: 1px;
    margin-top: 6px;
}

.profile-friends img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
}

.profile-friend h5 {
    margin: 3px;
}

.profile-list-friends {
    display: inline-flex;
}

.profile-friend {
    display: grid;
    margin: 5px
}

.profile-right {
    display: grid;
    background-color: white;
    width: 100%;
    border-radius: 5px;
}

.headline {
    display: inline-flex;
    margin: 5px;
    width: 95%;
    justify-content: space-between;
}

.container h5, .container p, .headline h4 {
    margin: 3px;
}

.container p {
    color: grey;
}

.info {
    width: 96%;
}

.info table {
    width: 100%;
}

.info td {
    padding: 2px;
}

.cards thead {
    font-size: 20px;
}

.photos {
    display: grid;
    background-color: white;
    border-radius: 5px;
    padding: 1px;
    margin-top: 6px;
}

.photos-list {
    display: inline-flex;
    width: fit-content;
}

.photos-list img {
    width: 24.5%;
    margin: 1px;
}

.posts {
    display: grid;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    margin-top: 5px;
}

.posts .post {
    margin: 7px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 15px;
}

.posts .post img {
    width: 400px;
    height: 160px;
}

.posts .post a button {
    background-color: #1877F2;
    color: aliceblue;
    text-decoration: none;
}

.posts .post a button:hover {
    color: green;
    background-color: lightgreen;
}

.posts .post a button {
    padding: 5px;
}

.right {
    display: flex;
    margin-top: 0;
    margin-left: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    /* align-content: space-evenly; */
    flex-direction: column;
    min-width: 200px;
    width: min-content;
}

.possible-friends img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 5px;
    padding: 0;
}

.friend-menu {
    display: flex;
    margin-top: 0;
    margin-left: 4px;
    margin-right: 4px;
    padding: 0px;
    background-color: white;
    border-radius: 5px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 180px;
}

.friend-menu table {
    width: 100%;
    margin: 0;
    border-radius: 5px;
}

.friend-menu tr:first-child {
    background-color: gray;
}

.possible-friends {
    display: grid;
    margin-top: 3px;
    margin-left: 4px;
    margin-right: 4px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    width: 170px;
}

.possible-friends h4 {
    color: grey;
    width: fit-content;
}

.possible {
    display: inline-flex;
    align-items: center;
    width: fit-content;
}

.possible h5, .possible h6, .possible button {
    padding: 3px;
    margin: 5px;
    width: fit-content;
}

.right-left {
    margin: 0;
    padding: 1px;
}

.friends {
    display: grid;
    background-color: white;
}

.friends-all {
    margin: 5px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.friends .friends-all .numbers {
    display: inline-flex;
}

.friends .friends-all .numbers h5 {
    margin: 2px 16px 2px 2px;
}

hr {
    width: 99%;
    height: 1px;
}

.friends img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin: 5px;
    padding: 0;
}

.friends button {
    padding: 3px;
    margin: 3px;
}

.friends input[type=text] {
    border-radius: 6px;
    border: 0px solid;
    width: 92%;
    background-image: url("https://www.svgrepo.com/show/7109/search.svg");
    background-repeat: no-repeat;
    background-size: 11px 11px;
    background-position: right center;
    font-size: 15px;
    padding: 6px;
    margin: 5px;
}

.friend {
    display: flex;
    flex-direction: row;
    min-width: 400px;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    border-bottom: grey;
    padding: 5px;
}

.left {
    margin: 0;
    padding: 1px;
    display: inline-flex;
}

.friend h5 {
    margin: 2px;
    padding: 0;
}

.friend h6 {
    margin: 2px;
    padding: 0;
}

.message {
    background-color: #1877F2;
    color: aliceblue;
}

.message:hover {
    background-color: greenyellow;
    color: green;
}